# Core runtime
torch==2.3.0+cu118
torchvision==0.22.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

# Ray dashboard, task
aiohttp==3.8.6
fastapi==0.110.0
uvicorn==0.22.0

# Jupyter
jupyterlab==4.1.6

# Utilites
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
tqdm==4.66.2
fsspec==2024.3.1
pynvml==11.5.0

# Monitoring
prometheus-client==0.20.0
